/* prettier-ignore */
* {
  box-sizing: border-box;
  cursor: default;
  font-family: 'Overpass', sans-serif;
}
body {
  z-index: -99;
  background-color: #000000;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
